# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

## Core latex/pdflatex auxiliary files:
Rapport/*.aux
Rapport/*.lof
Rapport/*.log
Rapport/*.lot
Rapport/*.fls
Rapport/*.out
Rapport/*.toc
Rapport/*.fmt
Rapport/*.fot
Rapport/*.cb
Rapport/*.cb2
Rapport/*.lb

## Intermediate documents:
Rapport/*.dvi
Rapport/*.xdv
Rapport/*-converted-to.Rapport/*

## Bibliography auxiliary files (bibtex/biblatex/biber):
Rapport/*.bbl
Rapport/*.bcf
Rapport/*.blg
Rapport/*-blx.aux
Rapport/*-blx.bib
Rapport/*.run.xml

## Build tool auxiliary files:
Rapport/*.fdb_latexmk
Rapport/*.synctex
Rapport/*.synctex(busy)
Rapport/*.synctex.gz
Rapport/*.synctex.gz(busy)
Rapport/*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
Rapport/*.alg
Rapport/*.loa

# amsthm
Rapport/*.thm

# changes
Rapport/*.soc

# comment
Rapport/*.cut

# cprotect
Rapport/*.cpt

# elsarticle (documentclass of Elsevier journals)
Rapport/*.spl

# endnotes
Rapport/*.ent

# fixme
Rapport/*.lox

# glossaries
Rapport/*.acn
Rapport/*.acr
Rapport/*.glg
Rapport/*.glo
Rapport/*.gls
Rapport/*.glsdefs
Rapport/*.lzo
Rapport/*.lzs
Rapport/*.slg
Rapport/*.slo
Rapport/*.sls

# hyperref
Rapport/*.brf

# listings
Rapport/*.lol

# luatexja-ruby
Rapport/*.ltjruby

# makeidx
Rapport/*.idx
Rapport/*.ilg
Rapport/*.ind

# minitoc
Rapport/*.maf
Rapport/*.mlf
Rapport/*.mlt
Rapport/*.mtc[0-9]Rapport/*
Rapport/*.slf[0-9]Rapport/*
Rapport/*.slt[0-9]Rapport/*
Rapport/*.stc[0-9]Rapport/*

# minted
Rapport/_minted*
Rapport/*.pyg

# morewrites
Rapport/*.mw

# newpax
Rapport/*.newpax

# nomencl
Rapport/*.nlg
Rapport/*.nlo
Rapport/*.nls

# pax
Rapport/*.pax

# pdfpcnotes
Rapport/*.pdfpc

# sagetex
Rapport/*.sagetex.sage
Rapport/*.sagetex.py
Rapport/*.sagetex.scmd

# scrwfile
Rapport/*.wrt

# pdfcomment
Rapport/*.upa
Rapport/*.upb

# pythontex
Rapport/*.pytxcode
pythontex-files-Rapport/*/

# tcolorbox
Rapport/*.listing

# thmtools
Rapport/*.loe

# TikZ & PGF
Rapport/*.dpth
Rapport/*.md5
Rapport/*.auxlock

# titletoc
Rapport/*.ptc

# todonotes
Rapport/*.tdo

# vhistory
Rapport/*.hst
Rapport/*.ver

# easy-todo
Rapport/*.lod

# xcolor
Rapport/*.xcp

# xmpincl
Rapport/*.xmpi

# xindy
Rapport/*.xdy

# xypic precompiled matrices and outlines
Rapport/*.xyc
Rapport/*.xyd

# endfloat
Rapport/*.ttt
Rapport/*.fff

## Editors:
# WinEdt
Rapport/*.bak
Rapport/*.sav

# Kile
Rapport/*.backup

# TeXnicCenter
Rapport/*.tps

# expex forward references with \gathertags
Rapport/*-tags.tex

# standalone packages
Rapport/*.sta

# Makeindex log files
Rapport/*.lpz

# xwatermark package
Rapport/*.xwm
